<div nzflex class="add-role-button-container">
    <button   nz-button nzType="primary" (click)="toggleEdit()">Add a new role <nz-icon nzType="plus-square" nzTheme="outline" /> </button>
</div>
<nz-table #roleTable [nzData]="rolesList" nzShowPagination="false"  [nzScroll]="{ y: '70vh' }">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Permissions</th>
            <th>Features</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (data of roleTable.data; track $index; let index = $index) {
        <tr>
            <td>
                {{data.roleName}}
            </td>
            <td>
                @if (data.allowedPermissions) {
                    {{ data.allowedPermissions.join(",") }}
                }
            </td>
            <td>
                @if (data.features) {
                    {{ data.features.join(",") }}
                }
            </td>
            <td>
                @if (data.roleName != 'ADMIN') {
                    <button class="action-buttons" nzTooltipTitle="Edit Role" nzTooltipPlacement="bottom"  nz-button nz-tooltip (click)="editRole(index)">
                        <nz-icon nzType="edit"></nz-icon>
                    </button>
    
                    <button class="action-buttons" nzTooltipTitle="Delete Role" nzTooltipPlacement="bottom"  nzPopconfirmTitle="Are you sure you want to delete?" nz-button nz-tooltip nz-popconfirm (nzOnConfirm)="deleteRole(data.id)">
                        <nz-icon nzType="delete"></nz-icon>
                    </button>
                }
            </td>
        </tr>
        }
    </tbody>
</nz-table>


<nz-modal [(nzVisible)]="openEdit" (nzOnCancel)="toggleEdit()" (nzOnOk)="saveChanges()" nzOkText="Save" nzTitle="Create Role">
    <ng-container *nzModalContent>
        <div>
            <form nz-form nzLayout="vertical" [formGroup]="rolesForm">
                <nz-form-item>
                    <nz-form-label nzRequired>Role Name</nz-form-label>
                    <nz-form-control [nzErrorTip]="errorTpl" nzHasFeedback>
                        <nz-input-group>
                            <input nz-input type="text" placeholder="Role Name" formControlName="roleName" />
                        </nz-input-group>
                        <ng-template #errorTpl let-control>
                            @if (control.errors?.['required']) {
                              Rolename is required!
                            }
                            @if (control.errors?.['duplicateRoleName']) {
                              Existing Rolename found. Please update!
                            }
                          </ng-template>
                
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>Selet Permissions</nz-form-label>

                    <nz-form-control nzErrorTip="">
                       <nz-select nzMode="multiple" nzPlaceHolder="Select Permissions" [nzOptions]="permissions" formControlName="allowedPermissions" >
                       </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label>Select Features</nz-form-label>
                    <nz-form-control nzErrorTip="">
                       <nz-select nzMode="multiple" nzPlaceHolder="Select Features to allow" [nzOptions]="features" formControlName="features" >
                       </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </ng-container>
</nz-modal>