<nz-layout class="layout">
    <nz-sider>
    <div class="logo"></div>

            <ul nzTheme="dark" nz-menu nzMode="inline"  >
                @if (checkAdmin()) {
                    <li nz-menu-item routerLink="/roles" routerLinkActive="ant-menu-item-selected">
                        <nz-icon nzType="carry-out" nzTheme="outline" /> Roles
                      </li>
                }
              
                <li nz-menu-item  routerLink="/users" routerLinkActive="ant-menu-item-selected">
                    <nz-icon nzType="user" nzTheme="outline" />  Users
                </li>
            
                <li nz-menu-item (click)="logOut()" routerLinkActive="ant-menu-item-selected">
                    <nz-icon nzType="logout" nzTheme="outline" />  Log Out
                </li>
            </ul>


    </nz-sider>
    <nz-layout>
        <nz-header>This is nz-headerr 
        </nz-header>
        <nz-content>
            <router-outlet />
        </nz-content>
    </nz-layout>
</nz-layout>