<div nzflex class="add-user-button-container">
    @if (isCreatePermitted) {
    <button nz-button nzType="primary" (click)="toggleEdit()">Add a New User <nz-icon nzType="plus-square"
            nzTheme="outline" /></button>
    }
</div>
<nz-table #usersTable [nzData]="usersList" nzShowPagination="false">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Full Name</th>
            <th>Role</th>
            @if (isPasswordViewPermitted) {
            <th>Password</th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (data of usersTable.data; track data; let index = $index) {
        <tr>
            <td>
                {{data.userName}}
            </td>
            <td>
                {{data.fullName}}
            </td>
            <td>
                {{data.role}}
            </td>
            @if (isPasswordViewPermitted) {
                @if(!data.showPassword){
                    <td>
                        ********
                    </td>
                }
                @if (data.showPassword) {
                    <td>
                        {{data.password}}
                    </td>
                }
            }
            <td>
            <!-- @if(data.role != 'ADMIN'){     -->
                @if ((isEditPermitted && data.role != 'ADMIN') || isAdmin) {
                <button class="action-buttons" nzTooltipTitle="Edit User" nzTooltipPlacement="bottom" nz-button
                    nz-tooltip (click)="editUser(index)">
                    <nz-icon nzType="edit"></nz-icon>
                </button>
                }
                @if (isDeletePermitted && data.role != 'ADMIN') {
                <button class="action-buttons" nzTooltipTitle="Delete User" nzTooltipPlacement="bottom"
                    nzPopconfirmTitle="Are you sure you want to delete?" nz-button nz-tooltip nz-popconfirm
                    (nzOnConfirm)="deleteUser(data.id)">
                    <nz-icon nzType="delete"></nz-icon>
                </button>
                }
                @if ((isPasswordViewPermitted && data.role != 'ADMIN') && isAdmin) {
                <button class="action-buttons" nzTooltipTitle="Toggle Password View" nzTooltipPlacement="bottom"
                    nz-button nz-tooltip (click)="toggleViewPasswordForRow(index)">
                    <nz-icon nzType="eye" nzTheme="outline" />
                </button>
                }
            <!-- } -->
            </td>
        </tr>
        }
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="openEdit" (nzOnCancel)="toggleEdit()" (nzOnOk)="saveChanges()" [nzOkText]="isEdit? 'Save' : 'Add' "
    nzTitle="Create User">
    <ng-container *nzModalContent>
        <div>
            <form nz-form [formGroup]="userForm" nzLayout="vertical">
                <nz-form-item>
                    <nz-form-label nzRequired>User Name</nz-form-label>
                    <nz-form-control [nzErrorTip]="errorTpl" nzHasFeedback>
                        <nz-input-group>
                            <input nz-input type="text" placeholder="User Name" formControlName="userName"   autocomplete="off"/>
                        </nz-input-group>
                        <ng-template #errorTpl let-control>
                            @if (control.errors?.['required']) {
                              Username is required!
                            }
                            @if (control.errors?.['duplicateUserName']) {
                              Username should be unique. Existing Username found! 
                            }
                            @if (control.errors?.['pattern']) {
                                Provide valid username with no empty spaces at the start or end.
                            }
                          </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>Select Role</nz-form-label>
                    <nz-form-control nzErrorTip="">
                        <nz-select nzPlaceHolder="Select Role" formControlName="role">
                            @for ($role of roleNamesList; track $index) {
                            <nz-option [nzValue]="$role" [nzLabel]="$role" [nzDisabled]="$role == 'ADMIN'">
                                {{$role}}
                            </nz-option>
                            }
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>Full Name</nz-form-label>
                    <nz-form-control nzErrorTip="Full Name is required.">
                        <nz-input-group>
                            <input nz-input type="text" placeholder="Full Name" formControlName="fullName" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired>Password</nz-form-label>
                    <nz-form-control nzErrorTip="Password is required.">
                        <nz-input-group  [nzSuffix]="togglePasswordIcon">
                            <input nz-input [type]="passwordVisible? 'text':'password'" placeholder="Password" formControlName="password" autocomplete="new-password"/>
                        </nz-input-group>
                        <ng-template #togglePasswordIcon>
                            <span>
                                 <nz-icon [nzType]="passwordVisible? 'eye-invisible': 'eye'" nzTheme="outline" (click)="togglePasswordViewInForm()"/>
                            </span>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </ng-container>
</nz-modal>