<div nzflex class="add-user-button-container">
    @if (checkForPermissions('Add')) {
        <button nz-button nzType="primary" (click)="toggleEdit()">Add a New User <nz-icon nzType="plus-square" nzTheme="outline" /></button>
    }
</div>
<nz-table #usersTable [nzData]="usersList" nzShowPagination="false">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Full Name</th>
            <th>Role</th>
            @if (checkForPermissions('viewPassword')) {
                <th>Password</th>
            }
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (data of usersTable.data; track data; let index = $index) {
        <tr>
            <td>
                {{data.userName}}
            </td>
            <td>
                {{data.fullName}}
            </td>
            <td>
                {{data.role}}
            </td>
            @if (checkForPermissions('viewPassword')) {
                <td>
                    {{'*'.repeat(data.password.length)}}
                </td>
                <td>
                    {{data.password}}
                </td>
            }
           
            <td>
                @if (checkForPermissions('Edit')) {
                    <button class="action-buttons" nzTooltipTitle="Edit User" nzTooltipPlacement="bottom"  nz-button nz-tooltip (click)="editUser(index)">
                        <nz-icon nzType="edit"></nz-icon>
                    </button>
                }
                @if (checkForPermissions('Delete')) {
                    <button class="action-buttons" nzTooltipTitle="Delete User" nzTooltipPlacement="bottom"  nzPopconfirmTitle="Are you sure you want to delete?" nz-button nz-tooltip nz-popconfirm (nzOnConfirm)="deleteUser(data.id)">
                        <nz-icon nzType="delete"></nz-icon>
                    </button>
                }
            </td>
        </tr>
        }
    </tbody>
</nz-table>

<nz-modal [(nzVisible)]="openEdit" (nzOnCancel)="toggleEdit()" (nzOnOk)="saveChanges()" nzOkText="Save"
    nzTitle="Create User">
    <ng-container *nzModalContent>
        <div>
            <form nz-form [formGroup]="userForm" nzLayout="vertical">
                <nz-form-item>
                    <nz-form-label>User Name</nz-form-label>
                    <nz-form-control nzErrorTip="">
                        <nz-input-group>
                            <input nz-input type="text" placeholder="User Name" formControlName="userName" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Select Role</nz-form-label>
                        <nz-form-control nzErrorTip="">
                            <nz-select nzPlaceHolder="Select Role" 
                                formControlName="role">
                                @for ($role of rolesList; track $index) {
                                    <nz-option [nzValue]="$role">
                                        {{$role.roleName}}
                                    </nz-option>
                                }   
                            </nz-select>
                        </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Full Name</nz-form-label>
                    <nz-form-control nzErrorTip="">
                        <nz-input-group>
                            <input nz-input type="text" placeholder="Full Name" formControlName="fullName" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Password</nz-form-label>
                    <nz-form-control nzErrorTip="">
                        <nz-input-group>
                            <input nz-input type="password" placeholder="Password" formControlName="password" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>
    </ng-container>
</nz-modal>