<div class="login-container">
    <div class="login-form" nz-flex nzJustify="center" nzAlign="center" style="background-color: fuchsia; margin: auto; top: 20vh;">
        <form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzPrefixIcon="user">
                    <nz-input-group nzPrefixIcon="user">
                        <input nz-input type="text" formControlName="username" placeholder="Username" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <nz-input-group nzPrefixIcon="lock">
                        <input nz-input type="password" formControlName="password" placeholder="Password" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <div>
                <button nz-button nzType="primary">Login</button>
            </div>
        </form>
    </div>
</div>